
@{
    ViewData["Title"] = "Detail";
    Layout = "_UserLayout";
}

@model ArtGallery.Models.ExhibitionView

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Exhibition Detail</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Exhibition Detail</li>
    </ol>
</div>

<div class="container my-5">
    <h1 class="display-4">@Model.ExhibitionName</h1>
    <p><strong>Venue:</strong> @Model.Venue</p>
    <p><strong>Start Date:</strong> @Model.StartDate.ToString("g")</p>
    <p><strong>End Date:</strong> @Model.EndDate.ToString("g")</p>
    <p>@Model.Description</p>
    <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.ExhibitionName">
</div>
@* <div>
    <h4>Exhibition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExhibitionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExhibitionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExhibitionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@