
@{
    ViewData["title"] = "Create Artist";
}
@model IEnumerable<ArtGallery.Models.ArtistView> 

<table class="table">
    <thead>
        <tr>
            <th>ArtistId</th>
            <th>ArtistName</th>
            <th>Nationality</th>
            <th>Biography</th>
            <th>Website</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.ArtistId</td>
                <td>@artist.ArtistName</td>
                <td>@artist.Nationality</td>
                <td>@artist.Biography</td>
                <td>@artist.Website</td>
                <td>@artist.Email</td>
                <td>@artist.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>